<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form action="/auth/login" method="post">
        {% csrf_token %}
        <table>
            UserId<input type="text" name="username">
            Password<input type="password" name="password">
            <input type="submit">
        </table>
    </form>
</body>
</html>